@charset "UTF-8"


    font-family: 'texas';
    src: url(fontes/TEXAT\ BOLD\ PERSONAL\ USE___.otf); } 
    @font-face {
        font-family: 'diploma';
        src: url(fontes/diploma/diploma.ttf);
    }
    @font-face {
        font-family: 'west';
        src: url(fontes/WEST____.TTF);}
        :root {--fonte1: 'west'; --fonte2: 'texas'; --fonte3: 'diploma'; }
 header.cabecalho {min-width: 350px;max-width: 950px;height: 500px;margin-bottom: 30px;}
  body.cabecalho{ background-image:  url('../imagens/cevejamaior2.jpg')center center no-repeat cover;} 
picture#faixada { display: block; text-align: center; margin:auto ;} 


picture#faixada figcaption {display: block; margin-top: -130px; margin-right:auto;margin-bottom: 5px; margin-left: auto; padding: 2px; font-family: var(--fonte2); font-size: 70px; color: coral;  }


 body { min-width: 350px; max-width: 950px;}
 body{background-image: url(../imagens/dnod6.jpg); background-repeat: no-repeat; background-size: cover;}

body h1 {width: 500px; text-align:center;  font-family: var(--fonte3); font-size: 60px; color: rgb(255, 0, 166 ); margin: top 20em; border: 0px; padding: 3px;}
body h2 { text-align: center;  font-family: var(--fonte1); font-size: 30px; color: rgb(255, 0, 0); padding: 2px ; border: 10px; margin-top:5px; margin-right: auto; margin-bottom: 5px; margin-left: 10px;  }
body h3 {text-align: center;font-family: var(--fonte1);font-size: 30px;color: rgb(46, 232, 8);margin: auto;}
.telefone{ margin-top:50px; color:red}
#qr {display: block; position: relative; margin-top: -30px;margin-right: auto; margin-left: 120px;margin-bottom: 80px;padding: 10px; }
    #qr figcaption{ text-align:justify;   font-family: var(--fonte3); font-size: 25px; color: rgb(74, 5, 249);width: 200px;margin-left: 20px;}
video#gerente {display:block;  width: 300px;height: 300px;margin-top: -70px;margin-right: auto;margin-bottom: 50px;margin-left: auto;}

ul {font-family: var(--fonte2);font-size: 30px;  color: rgb(8, 68, 172);}
picture#qr {display: block; margin-top: 400px;   margin-right:auto; margin-bottom: auto; margin-left: 850px;}
picture#qr.figcaption { display: block; margin-top: 0px;  font-family:var(--fonte1); font-size: 30px;color: rgb(65, 53, 230);}

section#corpo {display: block; position: left; margin-top:100px; width: 650px; float:left; margin: 2px; }
section#corpo{background-image:url(../imagens/interirbar.jpg);background-repeat: no-repeat; background-size: contain;   }

aside#qrvideo {display: block; position: relative;  margin-top: -120px; margin-right:-200px;margin-bottom: 40px;margin-left: auto;padding: 20px; width: 400px; height: 600px; float: right; clear: both;  }
aside#qrvideo{ background-image:url(../imagens/cerva.jpg); background-repeat: repeat; }
footer {display: block;min-width: 350px;max-width: 950px; margin-left: 600px; font-family: var(--fonte1) ; font-size:20px; color: rgb(16, 228, 48); position: 20px; clear: both; }



